[bumpversion]
current_version = 4.0.0
commit = True
tag = True
tag_name = v{new_version}
message = Bump version: {current_version} → {new_version}

[bumpversion:file:settings.json]
search = "CURRENT_VERSION": "v{current_version}"
replace = "CURRENT_VERSION": "v{new_version}"

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = version-{current_version}-blue
replace = version-{new_version}-blue

[bumpversion:file:plot_antenna/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
